@import '../../scss/modules/default';

.themeBlock {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(12);

  .themeBox {
    width: 100%;
    padding-inline: px-to-rem(10);
    padding-block: px-to-rem(32);
    background-color: hsl(var(--white));
    color: hsl(var(--black));
    border-color: rgb(85 85 85 / 10%);
    border-style: solid;
    border-width: px-to-rem(2);
    border-radius: px-to-rem(18);
    box-sizing: border-box;

    .componentWrapper {
      display: inline-flex;
      flex-direction: column;
      gap: px-to-rem(12);
    }
  }
}

.paletteContainer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: px-to-rem(12);
  justify-content: center;
  background-color: hsl(var(--black) / 1%);
  padding: px-to-rem(12);
  margin-block-end: px-to-rem(16);
  border-radius: px-to-rem(12);

  .themeBoxButton {
    aspect-ratio: 1;
    border-radius: 100%;
    width: px-to-rem(32);
    height: px-to-rem(32);
    border: none;
    background-color: hsl(var(--base));
  }

  .themeVariantButton {
    border-radius: px-to-rem(8);
    border-style: solid;
  }
}
