@import '../../../scss/modules/default';

.baseSidebarMain {
  transition: width 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  width: px-to-rem(350);
  overflow-x: hidden;

  &.sidebarClose {
    width: 0;
  }
}

.sidebarContainer {
  box-sizing: border-box;
  background: hsl(var(--base));
  display: block;
  padding-block: px-to-rem(12);
  position: relative;
  padding-inline-start: px-to-rem(8);
  width: px-to-rem(350);
  color: hsl(var(--base-font));
  height: 100%;
  max-height: 100vh;
  overflow: scroll;
}

.titleBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: px-to-rem(13);
  margin-block-end: px-to-rem(24);

  .titleIcon {
    font-size: px-to-rem(45);
    color: inherit;
  }

  .titleTypography {
    margin-block: 0;
    color: inherit;
    padding-inline-end: px-to-rem(24);
    white-space: nowrap;
  }
}

.menuTile {
  all: unset;
  padding-block: px-to-rem(0);
  padding-inline: px-to-rem(10);
  color: hsl(var(--base-font) / 100%);
  background-color: transparent;
  min-height: px-to-rem(24);
  transition: background-color 0.2s, color 0.2s, border-radius 0.35s, border 0.35s;
  display: flex;
  align-items: center;
  column-gap: px-to-rem(13.5);
  z-index: 2;
  position: relative;
  width: calc(100% - px-to-rem(24));
  cursor: pointer;

  & > * {
    margin-block: 0;
    // color: inherit;
  }

  .menuTileIcon {
    justify-self: center;
    transition: transform 0.3s;
    padding-inline: px-to-rem(10);
    font-size: px-to-rem(32);
  }

  .menuTileTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: px-to-rem(10);

    .menuTileTitleContent {
      transition: text-shadow 0.25s;
      font-weight: 400;
    }

    .menuTileTitleBadge {
      color: hsl(var(--dark) / 100%);
      transition: color 0.35s;
      font-size: px-to-rem(14);
      padding-inline-end: px-to-rem(8);
      font-weight: 400;
    }
  }

  &:focus {
    color: hsl(var(--base-font) / 80%);

    .menuTileIcon {
      animation: pulse 0.4s;
      animation-iteration-count: 1;
    }
  }

  &[class*='active'] {
    color: hsl(var(--black));
    animation-name: pulse 0.4s;
    animation-iteration-count: 2;

    .menuTileTitle {
      .menuTileTitleContent {
        // text-shadow: .2px .2px 0 hsl(var(--base-font));
        font-weight: 500;
      }

      .menuTileTitleBadge {
        color: transparent;
      }
    }
  }
}

.menuInput {
  margin-block-start: px-to-rem(19.2);
  margin-inline-start: px-to-rem(19.2);
}

.nestedAccordion {
  padding-inline-start: px-to-rem(12);
}

.triggerCollapse {
  margin-inline-start: auto;

  > svg {
    color: hsl(var(--base-font));
    font-size: px-to-rem(24);
  }
}

.menuActiveIndicator {
  z-index: 1;
  position: absolute;
  top: 0%;
  inset-inline-end: px-to-rem(-0.4);
  background-color: hsl(var(--white));
  color: hsl(var(--white));
  height: 0;
  transition: top 0.25s ease-in-out, height 0.25s ease-in-out, width 0.25s ease-in-out;
  will-change: top, height, width;
  border-start-start-radius: px-to-rem(13);
  border-end-start-radius: px-to-rem(13);
  width: calc(100% - px-to-rem(24));

  .svgCurved {
    position: absolute;

    &.start {
      top: px-to-rem(-13.4);
      inset-inline-end: px-to-rem(-0.4);
    }

    &.end {
      bottom: px-to-rem(-13.4);
      inset-inline-end: px-to-rem(-0.4);
      transform: scaleY(-1);
    }
  }
}

@include on-rtl {
  .svgCurved {
    transform: scaleX(-1);

    &.end {
      transform: scaleX(-1) scaleY(-1);
    }
  }
}
