@use 'sass:map';

$black: hsl(0, 0%, 4%);
$white: hsl(240, 20%, 99%);

$colorCGBlue: hsla(198, 63%, 38%,1);
$colorOxford:hsla(221, 51%, 16%, 1);
$colorOrange: hsla(37, 98%, 53%, 1);
$colorGrayDark: hsla(0, 5%, 16%, 1);
$colorGray:hsla(0, 0%, 44%, 1) ;
$colorGrayLight:hsla(0, 0%, 95%, 1) ;
$colorDistant: hsla(199, 39%, 81%, 1);
$colorCrayola:hsla(1, 85%, 65%, 1) ;
$colorPlatinum: hsla(0, 0%, 90%, 1);

$theme-palette: () !default;
$theme-variants: (
  'black': $black,
  'white': $white,
  'color-cgBlue': (
    'percent-5': lighten($colorCGBlue,30%),
    'percent-10': lighten($colorCGBlue, 32%),
    'default': $colorCGBlue,
    'percent-90': darken($colorCGBlue, 32%),
    'percent-95': darken($colorCGBlue, 30%),
  ),
  'color-oxford': (
    'percent-5': lighten($colorOxford,30%),
    'percent-10': lighten($colorOxford, 32%),
    'default': $colorOxford,
    'percent-90': darken($colorOxford, 32%),
    'percent-95': darken($colorOxford, 30%),
  ),
  'color-orange': (
    'percent-5': lighten($colorOrange,30%),
    'percent-10': lighten($colorOrange, 32%),
    'default': $colorOrange,
    'percent-90': darken($colorOrange, 32%),
    'percent-95': darken($colorOrange, 30%),
  ),
  'color-grayDark': (
    'percent-5': lighten($colorGrayDark,30%),
    'percent-10': lighten($colorGrayDark, 32%),
    'default': $colorGrayDark,
    'percent-90': darken($colorGrayDark, 32%),
    'percent-95': darken($colorGrayDark, 30%),
  ),
  'color-gray': (
    'percent-5': lighten($colorGray,30%),
    'percent-10': lighten($colorGray, 32%),
    'default': $colorGray,
    'percent-90': darken($colorGray, 32%),
    'percent-95': darken($colorGray, 30%),
  ),
  'color-grayLight': (
    'percent-5': lighten($colorGrayLight,30%),
    'percent-10': lighten($colorGrayLight, 32%),
    'default': $colorGrayLight,
    'percent-90': darken($colorGrayLight, 32%),
    'percent-95': darken($colorGrayLight, 30%),
  ),
  'color-distant': (
    'percent-5': lighten($colorDistant,30%),
    'percent-10': lighten($colorDistant, 32%),
    'default': $colorDistant,
    'percent-90': darken($colorDistant, 32%),
    'percent-95': darken($colorDistant, 30%),
  ),
  'color-crayola': (
    'percent-5': lighten($colorCrayola,30%),
    'percent-10': lighten($colorCrayola, 32%),
    'default': $colorCrayola,
    'percent-90': darken($colorCrayola, 32%),
    'percent-95': darken($colorCrayola, 30%),
  ),
  'color-platinum': (
    'percent-5': lighten($colorPlatinum,30%),
    'percent-10': lighten($colorPlatinum, 32%),
    'default': $colorPlatinum,
    'percent-90': darken($colorPlatinum, 32%),
    'percent-95': darken($colorPlatinum, 30%),
  ),
);

// Globals
$theme-variants: map.deep-merge($theme-variants, $theme-palette);
