@use 'sass:map';
@use 'sass:color';

$black: hsl(0deg 0% 4%);
$white: hsl(240deg 20% 99%);
$theme-palette: () !default;
$theme-variants: (
  'default': (
    'black': $black,
    'white': $white,
    'color-cgBlue': (
      'lighter': hsla(197, 33%, 96%, 1),
      'light': hsla(201, 39%, 93%, 1),
      'base': hsla(198, 63%, 38%, 1),
      'dark': hsla(198, 63%, 29%, 1),
      'darker': hsla(198, 63%, 20%, 1),
    ),
    'color-oxford': (
      'lighter': color.scale(hsla(221, 51%, 16%, 1), $lightness: 30%),
      'light': color.scale(hsla(221, 51%, 16%, 1), $lightness: 32%),
      'base': hsla(221, 51%, 16%, 1),
      'dark': color.scale(hsla(221, 51%, 16%, 1), $lightness: -32%),
      'darker': color.scale(hsla(221, 51%, 16%, 1), $lightness: -30%),
    ),
    'color-orange': (
      'lighter': color.scale(hsla(37, 98%, 53%, 1), $lightness: 30%),
      'light': color.scale(hsla(37, 98%, 53%, 1), $lightness: 32%),
      'base': hsla(37, 98%, 53%, 1),
      'dark': color.scale(hsla(37, 98%, 53%, 1), $lightness: -32%),
      'darker': color.scale(hsla(37, 98%, 53%, 1), $lightness: -30%),
    ),
    'color-grayDark': (
      'lighter': color.scale(hsla(0, 5%, 16%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 5%, 16%, 1), $lightness: 32%),
      'base': hsla(0, 5%, 16%, 1),
      'dark': color.scale(hsla(0, 5%, 16%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 5%, 16%, 1), $lightness: -30%),
    ),
    'color-gray': (
      'lighter': color.scale(hsla(0, 0%, 44%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 44%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 44%, 1),
      'dark': color.scale(hsla(0, 0%, 44%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 44%, 1), $lightness: -30%),
    ),
    'color-grayLight': (
      'lighter': color.scale(hsla(0, 0%, 95%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 95%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 95%, 1),
      'dark': color.scale(hsla(0, 0%, 95%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 95%, 1), $lightness: -30%),
    ),
    'color-distant': (
      'lighter': color.scale(hsla(199, 39%, 81%, 1), $lightness: 30%),
      'light': color.scale(hsla(199, 39%, 81%, 1), $lightness: 32%),
      'base': hsla(199, 39%, 81%, 1),
      'dark': color.scale(hsla(199, 39%, 81%, 1), $lightness: -32%),
      'darker': color.scale(hsla(199, 39%, 81%, 1), $lightness: -30%),
    ),
    'color-crayola': (
      'lighter': color.scale(hsla(1, 85%, 65%, 1), $lightness: 30%),
      'light': color.scale(hsla(1, 85%, 65%, 1), $lightness: 32%),
      'base': hsla(1, 85%, 65%, 1),
      'dark': color.scale(hsla(1, 85%, 65%, 1), $lightness: -32%),
      'darker': color.scale(hsla(1, 85%, 65%, 1), $lightness: -30%),
    ),
    'color-platinum': (
      'lighter': color.scale(hsla(0, 0%, 90%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 90%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 90%, 1),
      'dark': color.scale(hsla(0, 0%, 90%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 90%, 1), $lightness: -30%),
    ),
  ),
  'dark': (
    'black': $white,
    'white': hsla(213, 24%, 16%, 1),
    // 'color-cgBlue': ('lighter': hsla(214, 77%, 96%, 1),
    //   'light': hsla(214, 77%, 93%, 1),
    //   'base': hsla(214, 77%, 53%, 1),
    //   'dark': hsla(214, 77%, 29%, 1),
    //   'darker': hsla(214, 77%, 20%, 1),
    // ),
    'color-cgBlue':
      (
        'lighter': hsla(197, 33%, 96%, 1),
        'light': hsla(201, 39%, 93%, 1),
        'base': hsla(198, 63%, 38%, 1),
        'dark': hsla(198, 63%, 29%, 1),
        'darker': hsla(198, 63%, 20%, 1),
      ),
    'color-oxford': (
      'lighter': color.scale(hsla(221, 51%, 16%, 1), $lightness: 30%),
      'light': color.scale(hsla(221, 51%, 16%, 1), $lightness: 32%),
      'base': hsla(221, 51%, 16%, 1),
      'dark': color.scale(hsla(221, 51%, 16%, 1), $lightness: -32%),
      'darker': color.scale(hsla(221, 51%, 16%, 1), $lightness: -30%),
    ),
    'color-orange': (
      'lighter': color.scale(hsla(37, 98%, 53%, 1), $lightness: 30%),
      'light': color.scale(hsla(37, 98%, 53%, 1), $lightness: 32%),
      'base': hsla(37, 98%, 53%, 1),
      'dark': color.scale(hsla(37, 98%, 53%, 1), $lightness: -32%),
      'darker': color.scale(hsla(37, 98%, 53%, 1), $lightness: -30%),
    ),
    'color-grayDark': (
      'lighter': color.scale(hsla(220, 43%, 97%, 1), $lightness: 30%),
      'light': color.scale(hsla(220, 43%, 97%, 1), $lightness: 32%),
      'base': hsla(220, 43%, 97%, 1),
      'dark': color.scale(hsla(220, 43%, 97%, 1), $lightness: -32%),
      'darker': color.scale(hsla(220, 43%, 97%, 1), $lightness: -30%),
    ),
    'color-gray': (
      'lighter': color.scale(hsla(220, 13%, 91%, 1), $lightness: 30%),
      'light': color.scale(hsla(220, 13%, 91%, 1), $lightness: 32%),
      'base': hsla(220, 13%, 91%, 1),
      'dark': color.scale(hsla(220, 13%, 91%, 1), $lightness: -32%),
      'darker': color.scale(hsla(220, 13%, 91%, 1), $lightness: -30%),
    ),
    'color-grayLight': (
      'lighter': color.scale(hsla(213, 22%, 18%, 1), $lightness: 30%),
      'light': color.scale(hsla(213, 22%, 18%, 1), $lightness: 32%),
      'base': hsla(213, 22%, 18%, 1),
      'dark': color.scale(hsla(213, 22%, 18%, 1), $lightness: -32%),
      'darker': color.scale(hsla(213, 22%, 18%, 1), $lightness: -30%),
    ),
    'color-distant': (
      'lighter': color.scale(hsla(215, 11%, 53%, 1), $lightness: 30%),
      'light': color.scale(hsla(215, 11%, 53%, 1), $lightness: 32%),
      'base': hsla(215, 11%, 53%, 1),
      'dark': color.scale(hsla(215, 11%, 53%, 1), $lightness: -32%),
      'darker': color.scale(hsla(215, 11%, 53%, 1), $lightness: -30%),
    ),
    'color-crayola': (
      'lighter': color.scale(hsla(1, 85%, 65%, 1), $lightness: 30%),
      'light': color.scale(hsla(1, 85%, 65%, 1), $lightness: 32%),
      'base': hsla(1, 85%, 65%, 1),
      'dark': color.scale(hsla(1, 85%, 65%, 1), $lightness: -32%),
      'darker': color.scale(hsla(1, 85%, 65%, 1), $lightness: -30%),
    ),
    'color-platinum': (
      'lighter': color.scale(hsla(222, 31%, 19%, 1), $lightness: 30%),
      'light': color.scale(hsla(222, 31%, 19%, 1), $lightness: 32%),
      'base': hsla(222, 31%, 19%, 1),
      'dark': color.scale(hsla(222, 31%, 19%, 1), $lightness: -32%),
      'darker': color.scale(hsla(222, 31%, 19%, 1), $lightness: -30%),
    ),
  ),
  'amoled': (
    'black': $white,
    'white': black,
    // 'color-cgBlue': ('lighter': hsla(214, 77%, 96%, 1),
    //   'light': hsla(214, 77%, 93%, 1),
    //   'base': hsla(214, 77%, 53%, 1),
    //   'dark': hsla(214, 77%, 29%, 1),
    //   'darker': hsla(214, 77%, 20%, 1),
    // ),
    'color-cgBlue':
      (
        'lighter': hsla(197, 33%, 96%, 1),
        'light': hsla(201, 39%, 93%, 1),
        'base': hsla(198, 63%, 38%, 1),
        'dark': hsla(198, 63%, 29%, 1),
        'darker': hsla(198, 63%, 20%, 1),
      ),
    'color-oxford': (
      'lighter': color.scale(hsla(0, 0%, 12%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 12%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 12%, 1),
      'dark': color.scale(hsla(0, 0%, 12%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 12%, 1), $lightness: -30%),
    ),
    'color-orange': (
      'lighter': color.scale(hsla(37, 98%, 53%, 1), $lightness: 30%),
      'light': color.scale(hsla(37, 98%, 53%, 1), $lightness: 32%),
      'base': hsla(37, 98%, 53%, 1),
      'dark': color.scale(hsla(37, 98%, 53%, 1), $lightness: -32%),
      'darker': color.scale(hsla(37, 98%, 53%, 1), $lightness: -30%),
    ),
    'color-grayDark': (
      'lighter': color.scale(hsla(0, 0%, 95%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 95%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 95%, 1),
      'dark': color.scale(hsla(0, 0%, 95%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 95%, 1), $lightness: -30%),
    ),
    'color-gray': (
      'lighter': color.scale(hsla(0, 0%, 90%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 90%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 90%, 1),
      'dark': color.scale(hsla(0, 0%, 90%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 90%, 1), $lightness: -30%),
    ),
    'color-grayLight': (
      'lighter': color.scale(hsla(0, 0%, 7%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 7%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 7%, 1),
      'dark': color.scale(hsla(0, 0%, 7%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 7%, 1), $lightness: -30%),
    ),
    'color-distant': (
      'lighter': color.scale(hsla(199, 28%, 26%, 1), $lightness: 30%),
      'light': color.scale(hsla(199, 28%, 26%, 1), $lightness: 32%),
      'base': hsla(199, 28%, 26%, 1),
      'dark': color.scale(hsla(199, 28%, 26%, 1), $lightness: -32%),
      'darker': color.scale(hsla(199, 28%, 26%, 1), $lightness: -30%),
    ),
    'color-crayola': (
      'lighter': color.scale(hsla(1, 85%, 65%, 1), $lightness: 30%),
      'light': color.scale(hsla(1, 85%, 65%, 1), $lightness: 32%),
      'base': hsla(1, 85%, 65%, 1),
      'dark': color.scale(hsla(1, 85%, 65%, 1), $lightness: -32%),
      'darker': color.scale(hsla(1, 85%, 65%, 1), $lightness: -30%),
    ),
    'color-platinum': (
      'lighter': color.scale(hsla(0, 0%, 7%, 1), $lightness: 30%),
      'light': color.scale(hsla(0, 0%, 7%, 1), $lightness: 32%),
      'base': hsla(0, 0%, 7%, 1),
      'dark': color.scale(hsla(0, 0%, 7%, 1), $lightness: -32%),
      'darker': color.scale(hsla(0, 0%, 7%, 1), $lightness: -30%),
    ),
  ),
);

// Globals
$theme-variants: map.deep-merge($theme-variants, $theme-palette);
