@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    src: url('../../assets/fonts/Roboto/Roboto-Italic.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-Italic.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    src: url('../../assets/fonts/Roboto/Roboto-BoldItalic.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-BoldItalic.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    src: url('../../assets/fonts/Roboto/Roboto-Thin.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-Thin.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 200;
    src: url('../../assets/fonts/Roboto/Roboto-ThinItalic.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-ThinItalic.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto/Roboto-Light.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-Light.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto/Roboto-LightItalic.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-LightItalic.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf?#iefix') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    src: url('../../assets/fonts/Roboto/Roboto-MediumItalic.ttf');
    src: url('../../assets/fonts/Roboto/Roboto-MediumItalic.ttf?#iefix') format('truetype');
}
