// global
// $bundle: () !default;

//global component properties
$borderRadiusQuarter: px-to-rem(7);
$borderRadiusHalf: px-to-rem(13);
$borderRadiusFull: px-to-rem(43);

$screenSizePhoneMax: 599px;
$screenSizeTabletPortraitMin: 600px;
$screenSizeTabletLandscapeMin: 900px;
$screenSizeDesktopMin: 1200px;
$screenSizeLargeDesktopMin: 1800px;
