@import '../../scss/modules/default';

.baseButton {
  border: none;
  border-radius: $borderRadiusHalf;
  border-width: px-to-rem(1);
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;

  &>svg {
    vertical-align: middle;
    margin-inline-end: px-to-rem(13);
    font-size: 1.3em;
    color: inherit;
  }

  &.rounded {
    border-radius: $borderRadiusFull;
  }

  &.large {
    padding-inline: px-to-rem(24);
    padding-block: px-to-rem(12);
    font-size: px-to-rem(16);
  }

  &.small {
    padding-inline: px-to-rem(24);
    padding-block: px-to-rem(4);
    font-size: px-to-rem(16);
  }

  &.fullCircle {
    aspect-ratio: 1;
    border-radius: 100%;
    padding-block: px-to-rem(4);
    padding-inline: px-to-rem(4);
    font-size: px-to-rem(20);

    &>svg {
      margin-inline-end: 0;
      padding: px-to-rem(8);
    }
  }
}

.primary {
  background-color: hsl(var(--default));
  color: hsl(var(--default-font));

  &:hover {
    background-color: hsl(var(--percent-90));
    color: hsl(var(--percent-90-font));
  }

  &:focus {

    background-color: hsl(var(--percent-95));
    color: hsl(var(--percent-95-font));
  }

  &:focus,
  &.active {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--default) / 25%);
  }

  &:active {
    background-color: hsl(var(--percent-90));
    color: hsl(var(--percent-90-font));
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--default) / 25%);
  }
}

.outline {
  border-color: hsl(var(--default));
  color: hsl(var(--default));
  background-color: hsl(var(--white));

  &:hover {
    background-color: hsl(var(--default) / 15%);
    color: hsl(var(--default));
  }

  &:focus,
  &.active {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--default) / 25%);
  }

  &:active {
    background-color: hsl(var(--default) / 25%);
    color: hsl(var(--default));
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--default) / 25%);
  }
}

.white {
  color: hsl(var(--default));
  background-color: hsl(var(--white));

  &:hover {
    background-color: hsl(var(--default) / 5%);
    color: hsl(var(--default));
  }

  &:focus,
  &.active {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--default) / 15%);
  }

  &:active {
    background-color: hsl(var(--default) / 15%);
    color: hsl(var(--default));
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--default) / 15%);
  }
}

.disabled {
  color: hsl(var(--default) / 20%);
  background-color: hsl(var(--default) / 10%);
}