@import '../../scss/modules/default';

.baseButton {
  border: none;
  border-radius: $borderRadiusHalf;
  border-width: px-to-rem(1);
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
  column-gap: px-to-rem(13);
  display: flex;
  align-items: center;

  &:focus {
    outline-width: 0;
  }

  & > svg {
    vertical-align: middle;
    font-size: 1.3335em;
    color: inherit;
    padding-block: px-to-rem(1);
    box-sizing: border-box;
  }

  &.large {
    padding-inline: px-to-rem(24);
    padding-block: px-to-rem(12);
    font-size: px-to-rem(16);
  }

  &.noWrap {
    white-space: nowrap;
    align-items: center;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }

  &.medium {
    padding-inline: px-to-rem(16);
    padding-block: px-to-rem(10);
    font-size: px-to-rem(16);
  }

  &.small {
    padding-inline: px-to-rem(12);
    padding-block: px-to-rem(5);
    font-size: px-to-rem(15);
  }

  &.fullCircle {
    aspect-ratio: 1;
    border-radius: 100%;
    padding-block: px-to-rem(4);
    padding-inline: px-to-rem(4);
    font-size: px-to-rem(20);

    & > svg {
      margin-inline-end: 0;
      padding: px-to-rem(0);
      margin: px-to-rem(5.7);
    }
  }

  &.roundedFull {
    border-radius: $borderRadiusFull;
  }

  &.roundedHalf {
    border-radius: $borderRadiusHalf;
  }
}

.primary {
  background-color: hsl(var(--base));
  color: hsl(var(--base-font));

  &:hover {
    background-color: hsl(var(--dark));
    color: hsl(var(--dark-font));
  }

  &:focus {
    background-color: hsl(var(--darker));
    color: hsl(var(--darker-font));
  }

  &:focus,
  &.active {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--base) / 25%);
  }

  &:active {
    background-color: hsl(var(--dark));
    color: hsl(var(--dark-font));
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--base) / 25%);
  }

  &.badge {
    &:hover,
    &:active,
    &:focus {
      background-color: hsl(var(--base));
      color: hsl(var(--base-font));
      box-shadow: unset;
      cursor: default;
    }
  }
}

.outline {
  border-color: hsl(var(--base));
  color: hsl(var(--base));
  background-color: transparent;

  &:hover {
    background-color: hsl(var(--base) / 15%);
    color: hsl(var(--base));
  }

  &:focus,
  &.active {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--base) / 25%);
  }

  &:active {
    background-color: hsl(var(--base) / 25%);
    color: hsl(var(--base));
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--base) / 25%);
  }

  &.badge {
    &:hover,
    &:active,
    &:focus {
      border-color: hsl(var(--base));
      color: hsl(var(--base));
      background-color: transparent;
      box-shadow: unset;
      cursor: default;
    }
  }
}

.white {
  color: hsl(var(--base));
  background-color: hsl(var(--white));

  &:hover {
    background-color: hsl(var(--base) / 25%);
    color: hsl(var(--base));
  }

  &:focus {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(3) hsl(var(--black) / 15%);
  }

  &.active {
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--base) / 35%);
  }

  &:active {
    background-color: hsl(var(--base) / 15%);
    color: hsl(var(--base));
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--base) / 35%);
  }

  &.badge {
    &:hover,
    &:active,
    &:focus {
      color: hsl(var(--base));
      background-color: hsl(var(--white));
      box-shadow: unset;
      cursor: default;
    }
  }
}

.disabled {
  color: hsl(var(--base) / 20%);
  background-color: hsl(var(--base) / 10%);

  &:hover,
  &:active,
  &:focus {
    cursor: default;
  }

  &:focus {
    outline: hsl(var(--base) / 20%) dashed px-to-rem(2);
  }
}
