@import '../../../scss/modules/default';

.mainContainer {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: px-to-rem(16);
  width: 100%;
  flex: 0.9;
}

.resultsPanel {
  box-sizing: border-box;
  padding-inline: px-to-rem(24);
  width: 100%;
  height: 100%;

  &.emptyState {
    height: 100%;
    padding-block: 0;
  }
}

.resultCountCaption {
  margin-block-start: px-to-rem(24);
  margin-block-end: px-to-rem(8);
  white-space: nowrap;
}

.resultTitleContainer {
  display: flex;
  gap: px-to-rem(6);
  align-items: center;
  flex-wrap: wrap;

  .resultTitleInfo {
    background-color: hsl(var(--black) / 10%);
    font-size: px-to-rem(12);
    border-radius: px-to-rem(4);
    padding-inline: px-to-rem(4);
  }
}

.rowActionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: px-to-rem(16);

  .actionButton {
    padding-inline: px-to-rem(40);
  }

  .actionIconButton {
    font-size: px-to-rem(20);

    svg {
      padding: px-to-rem(2.5);
    }
  }
}
