@import '../../../scss/modules/default';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: px-to-rem(13);
  overflow: hidden;

  .templateActionButton {
    padding-inline: px-to-rem(35);
  }

  .templatesContainer {
    box-sizing: border-box;
    flex-shrink: 0;
    padding-block: px-to-rem(16);
    padding-inline: px-to-rem(4);
    height: 100%;
    width: clamp(px-to-rem(50), 40%, px-to-rem(285));

    .templatesTitle {
      padding-inline: px-to-rem(20);
      margin-block-start: 0;
      margin-block-end: px-to-rem(12);
    }

    .templatesItemWrapper {
      height: 90%;
      padding-inline-end: px-to-rem(15);
      overflow-x: auto;

      &.withSelectedButton {
        height: 77%;
      }
    }

    .accordionLabelButton {
      svg {
        flex-shrink: 0;
        margin-inline-start: 0;
      }

      span {
        padding-inline: 0;
        padding-block: px-to-rem(2);
      }

      .accordionLabelTitle {
        margin-block: 0;
        display: flex;
        justify-content: start;
        align-items: center;

        // flex-wrap: wrap;
        gap: px-to-rem(12);
        white-space: nowrap;

        span {
          display: inline-block;
        }
      }
    }

    .accordionLabelAvatar {
      width: px-to-rem(32);
      height: px-to-rem(32);
      aspect-ratio: 1;
      border-radius: px-to-rem(10);
      border-width: px-to-rem(0.2);
    }

    .accordionContent {
      padding-inline-start: px-to-rem(36);
      padding-block-start: px-to-rem(5);
      display: flex;
      flex-direction: column;
      gap: px-to-rem(6);
    }

    .templateButton {
      justify-content: start;
      flex-wrap: wrap;

      .templateButtonLabel {
        margin-block: 0;

        &.templateButtonActiveLabel {
          color: hsl(var(--base));
        }
      }
    }

    .templatesButtonContainer {
      padding-inline: px-to-rem(24);
      padding-block-start: px-to-rem(8);
      padding-block-end: px-to-rem(24);
    }

    .templatesCountLabel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 0;
      margin-block-end: px-to-rem(8);
    }

    .LoadingTemplateContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: px-to-rem(120);
      gap: px-to-rem(8);
      padding-inline-start: px-to-rem(16);
      width: 100%;

      & > span {
        width: 100%;
      }

      .loadingStateLabel {
        width: 80%;
        height: px-to-rem(16);
      }

      .loadingStateIndentedLabel {
        margin-inline-start: 10%;
      }
    }
  }

  .previewContainer {
    box-sizing: border-box;
    background-color: hsl(var(--color-gray-lighter) / 20%);
    padding-block: px-to-rem(24);
    padding-inline: px-to-rem(32);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.centeredContent {
      justify-content: center;
    }

    .previewNodeItem {
      margin-block: px-to-rem(33);

      &:first-of-type {
        margin-block-start: 0;
      }

      .previewIcon {
        margin-inline-end: px-to-rem(16);
        font-size: px-to-rem(20);
        color: hsl(var(--base));
      }
    }

    .LoadingPreviewContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: 100%;
      width: 100%;

      & > span {
        width: 100%;
      }

      .loadingStateIcon {
        aspect-ratio: 1;
        width: px-to-rem(20);
        flex-shrink: 0;
        flex-grow: 0;
      }

      .loadingStateLabel {
        margin-block: px-to-rem(4);
        width: 75%;
        display: flex;
        gap: px-to-rem(16);
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}
