@use 'sass:math';
@import '../../scss/modules/default';

.label {
  position: relative;
  margin-block: px-to-rem(4);
  margin-inline: px-to-rem(6);
  align-items: center;
  transition: color 250ms ease-out;
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  .input {
    height: 0;
    width: 0;
    all: unset;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  & > .SwitchIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: px-to-rem(8);

    // padding-block: px-to-rem(8);
    width: 2.1em;
    height: 1.2em;
    background: transparent;
    border-radius: px-to-rem(100);
    transition: all 250ms ease-out;
    position: relative;
    cursor: pointer;
    border-width: px-to-rem(1);
    border-style: solid;

    /* stylelint-disable-next-line no-descending-specificity */
    &::before {
      content: '';
      position: absolute;
      border-radius: 100%;
      aspect-ratio: 1;
      height: 80%;
      inset-block-start: 10%;
      inset-inline-start: calc(100% - 1.1em);
      transition: background-color 0.2s, inset 0.2s, border 0.2s;
      box-shadow: -2px 0 4px rgb(0 0 0 / 30%);
      border-width: px-to-rem(1);
      border-style: solid;
      border-color: transparent;
      box-sizing: border-box;
    }
  }

  &.toggled {
    & > .SwitchIndicator {
      &::before {
        content: '';
        inset-inline-start: 5%;
      }
    }
  }

  &.small {
    font-size: px-to-rem(16);
  }

  &.medium {
    font-size: px-to-rem(18);
  }

  &.large {
    font-size: px-to-rem(20);
  }

  &.primary {
    color: hsl(var(--base));

    & > .SwitchIndicator {
      border-color: hsl(var(--base));
      background-color: hsl(var(--base));

      &::before {
        background-color: hsl(var(--white));
      }
    }

    &:hover,
    &[data-sudo='hover'] {
      color: hsl(var(--base));

      .SwitchIndicator {
        &::before {
          background-color: hsl(var(--lighter));
        }
      }
    }

    &.toggled {
      .SwitchIndicator {
        background-color: hsl(var(--light));

        &::before {
          box-shadow: none;
        }
      }
    }

    &:focus-within,
    &[data-sudo='focus'] {
      color: hsl(var(--darker));

      .SwitchIndicator {
        border-color: hsl(var(--base));
      }

      &.toggled {
        .SwitchIndicator {
          background-color: hsl(var(--darker));
          border-color: hsl(var(--darker));

          &::before {
            background-color: hsl(var(--light));
          }
        }
      }
    }
  }

  &.outline {
    color: hsl(var(--base));

    /* stylelint-disable-next-line no-descending-specificity */
    & > .SwitchIndicator {
      border-color: hsl(var(--base));

      /* stylelint-disable-next-line no-descending-specificity */
      &::before {
        background-color: hsl(var(--base));
      }
    }

    &.toggled {
      /* stylelint-disable-next-line no-descending-specificity */
      & > .SwitchIndicator {
        border-color: hsl(var(--base));

        /* stylelint-disable-next-line no-descending-specificity */
        &::before {
          border-color: hsl(var(--base));
          background-color: hsl(var(--white));
        }
      }
    }

    &:focus-within,
    &[data-sudo='focus'] {
      color: hsl(var(--darker));

      /* stylelint-disable-next-line no-descending-specificity */
      .SwitchIndicator {
        background-color: hsl(var(--light));

        /* stylelint-disable-next-line no-descending-specificity */
        &::before {
          background-color: hsl(var(--darker));
        }
      }
    }
  }

  &.white {
    color: hsl(var(--base));

    /* stylelint-disable-next-line no-descending-specificity */
    & > .SwitchIndicator {
      border-color: hsl(var(--base));
      background-color: hsl(var(--base));

      /* stylelint-disable-next-line no-descending-specificity */
      &::before {
        background-color: hsl(var(--white));
        border-color: hsl(var(--white));
      }
    }

    &.toggled {
      /* stylelint-disable-next-line no-descending-specificity */
      .SwitchIndicator {
        border-color: hsl(var(--light) / 80%);
        background-color: hsl(var(--light) / 80%);

        /* stylelint-disable-next-line no-descending-specificity */
        &::before {
          border-color: hsl(var(--white));
          box-shadow: none;
        }
      }
    }

    &:hover,
    &[data-sudo='hover'] {
      color: hsl(var(--dark));

      /* stylelint-disable-next-line no-descending-specificity */
      .SwitchIndicator {
        /* stylelint-disable-next-line no-descending-specificity */
        &::before {
          background-color: hsl(var(--light));
          border-color: hsl(var(--light));
        }
      }

      &.toggled {
        /* stylelint-disable-next-line no-descending-specificity */
        .SwitchIndicator {
          /* stylelint-disable-next-line no-descending-specificity */
          &::before {
            background-color: hsl(var(--dark));
            border-color: hsl(var(--dark));
          }
        }
      }
    }

    // &:focus-within {
    //     color: hsl(var(--darker));

    //     .SwitchIndicator {
    //         background-color: hsl(var(--light) / 20%);

    //         &::before {
    //             background-color: hsl(var(--darker));
    //         }
    //     }
    // }
  }

  &.disabled {
    color: hsl(var(--base) / 40%) !important;

    /* stylelint-disable-next-line no-descending-specificity */
    & > .SwitchIndicator {
      border-color: hsl(var(--light) / 50%) !important;
      background-color: hsl(var(--light) / 90%) !important;

      /* stylelint-disable-next-line no-descending-specificity */
      &::before {
        border-color: hsl(var(--white)) !important;
        background-color: hsl(var(--white)) !important;
      }
    }

    &.toggled {
      /* stylelint-disable-next-line no-descending-specificity */
      & > .SwitchIndicator {
        border-color: hsl(var(--light) / 50%) !important;
        background-color: hsl(var(--white)) !important;

        /* stylelint-disable-next-line no-descending-specificity */
        &::before {
          border-color: transparent !important;
          background-color: hsl(var(--darker) / 50%) !important;
          box-shadow: none;
        }
      }
    }
  }
}
