@import '../../../scss/modules/default';

.baseSidebarMain {
  background: hsl(var(--default));
  display: inline-block;

  padding-block: px-to-rem(12);
  position: relative;
}

.menuTileIcon {
  justify-self: center;
  transition: transform 0.3s;
}


.menuActiveIndicator {
  z-index: 3;
  position: absolute;
  top: 0%;
  inset-inline-start: 0;
  background-color: hsl(var(--default));
  width: px-to-rem(5);
  height: 0;
  transition: top 0.25s ease-in-out, height 0.25s ease-in-out;
  will-change: top, height;
  border-start-end-radius: 0.3rem;
  border-end-end-radius: 0.3rem;
  // backface-visibility: hidden;
}

.cmLogo {
  padding: 0;
  margin-inline: 0;
  border-radius: 0;
  width: 100%;
  height: auto;
  margin-block-end: px-to-rem(16);

  >svg {
    font-size: px-to-rem(48);
  }
}

.menuTrigger {
  font-size: px-to-rem(38) !important;
}