@import '../../scss/modules/default';

.passwordStrengthCheckContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  .checkbox {
    input + span {
      border-radius: 100% !important;
      transform: scale(0.9);
    }
  }
}
