@import '../../scss/modules/default';

.advancedSearchMenuBoxContainer {
  width: px-to-rem(360);
  height: 100%;
  padding: px-to-rem(12);
  background-color: hsl(var(--white));
  border-color: hsl(var(--base));
  border-width: px-to-rem(1);
  border-style: solid;
  border-radius: $borderRadiusHalf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16);

  .advancedSearchMenuBoxTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: px-to-rem(8);
    gap: px-to-rem(12);

    .advancedSearchMenuBoxCloseButton {
      background-color: transparent;
      border-color: transparent;
      color: hsl(var(--base));
      font-size: px-to-rem(24);
      aspect-ratio: 1;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0;
    }

    .advancedSearchMenuBoxTitle {
      margin-block: px-to-rem(0);
    }
  }

  .advancedSearchMenuBoxActionsContainer {
    display: flex;
    margin-block-start: px-to-rem(12);
    gap: px-to-rem(12);
  }

  .advancedSearchMenuItemContainer {
    padding-inline-end: px-to-rem(13);

    .advancedSearchMenuItem {
      border-width: px-to-rem(1);
      border-style: solid;
      border-color: hsl(var(--light));
      transition: border-color 0.2s ease-out;

      &:not(:last-of-type) {
        margin-block-end: px-to-rem(12);
      }

      .advancedSearchMenuItemLabelButton {
        > svg {
          margin-inline-start: 0;
          display: none;
        }

        .advancedSearchMenuItemLabel {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: px-to-rem(12);
          font-size: px-to-rem(16);
          transition: color 0.2s ease-out;
          color: hsl(var(--base));

          .advancedSearchMenuItemLabelTitle,
          .advancedSearchMenuItemLabelIndicators {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .advancedSearchMenuItemLabelTitle {
            gap: px-to-rem(12);
            margin-block: unset;
          }

          .advancedSearchMenuItemLabelIndicators {
            gap: px-to-rem(9.5);
            font-size: px-to-rem(19.5);
          }

          .advancedSearchMenuItemLabelActiveIcon {
            color: hsl(var(--base));
          }

          .advancedSearchMenuItemLabelChevron {
            transition: color 0.2s ease-out, transform 0.2s ease-out;
            color: hsl(var(--base));
          }
        }
      }

      .advancedSearchMenuItemContent {
        padding-inline-start: 0;
        padding-block-start: px-to-rem(24);
        padding-block-end: px-to-rem(12);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: px-to-rem(8);
      }

      &.advancedSearchMenuItemOpen {
        border-color: hsl(var(--base));

        .advancedSearchMenuItemLabelButton {
          .advancedSearchMenuItemLabel {
            .advancedSearchMenuItemLabelChevron {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
}
