@import '../../../scss/modules/default';

.headerContainer {
  display: flex;
  align-items: center;
  padding-block-start: px-to-rem(32);
  padding-block-end: px-to-rem(40);
  flex-wrap: wrap;
  gap: px-to-rem(12);
}

.searchInputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: px-to-rem(16);

  .searchInput {
    width: (clamp(px-to-rem(100), 50%, px-to-rem(420)));
  }
}

.tableContainer {
  margin-block: px-to-rem(48);

  form {
    display: flex;
  }

  .loadingIcon {
    font-size: px-to-rem(18);
    display: inline-block;
  }
}

.lockIcon {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  transform: translateX(25%);
  color: hsl(var(--base));
  background-color: hsl(var(--lighter) / 50%);
  border-radius: px-to-rem(4);
  padding: px-to-rem(2);
  cursor: pointer;
}

.clickableInputContainer {
  display: flex;
  align-items: center;
  gap: px-to-rem(12);
  padding-block: px-to-rem(5);
  padding-inline-start: px-to-rem(10);
  padding-inline-end: px-to-rem(20);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 0;

  .clickableInput {
    min-width: px-to-rem(64);
    z-index: 2;
  }
}

.modalPanel {
  .formContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    max-width: px-to-rem(350);
    padding-block: px-to-rem(8);
    padding-inline: px-to-rem(4);
    margin-inline: auto;
  }

  .modalInputContainer {
    width: 100%;
    padding-block: px-to-rem(8);
    padding-inline: px-to-rem(4);
    box-sizing: border-box;

    .modalTextInput {
      max-width: 100%;
      min-width: 100%;
      box-sizing: border-box;
    }

    .modalSelectInput {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      box-sizing: border-box;

      & > [class*='-container'] {
        width: 100%;
      }
    }
  }

  .userSummeryContainer {
    width: 100%;
    padding-block: px-to-rem(8);
    padding-inline: px-to-rem(4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newPasswordTitle {
    margin-block-start: px-to-rem(5);
    margin-block-end: px-to-rem(12);
    text-align: start;
    width: 100%;
  }

  .passwordContainer {
    display: flex;
    justify-content: space-between;
    // border-width: px-to-rem(1);
    // border-style: solid;
    // border-color: hsl(var(--base));
    // border-radius: px-to-rem(8);
    padding-block: px-to-rem(4);
    padding-inline: px-to-rem(8);
    // margin-inline: auto;
  }

  .newPasswordBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .conformButton {
    margin-block-start: px-to-rem(80);
  }
}
