@import '../../scss/modules/default';

.copyToClipboard {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .copyButton {
    padding: px-to-rem(2);
    margin: px-to-rem(5);
    border-radius: px-to-rem(5);
    aspect-ratio: 1;
    position: relative;

    &:focus {
      box-shadow: none;
    }

    .copyButtonLabel {
      @include sr-only;
    }

    svg {
      opacity: 0;
      overflow: hidden;
      transition: opacity ease-in-out 0.25s, transform ease-in-out 0.25s;
      transform: rotate(-70deg);

      &:first-of-type {
        position: absolute;
        inset: 0;
        margin: px-to-rem(2);
      }

      &.activeButtonIcon {
        transform: rotate(0deg);
        opacity: 1;
      }
    }
  }

  .label {
    display: block;
  }

  &.small {
    gap: px-to-rem(1);

    .copyButton {
      font-size: px-to-rem(12);
    }
  }

  &.medium {
    gap: px-to-rem(3);

    .copyButton {
      font-size: px-to-rem(16);
    }
  }

  &.large {
    gap: px-to-rem(5);

    .copyButton {
      font-size: px-to-rem(20);
    }
  }
}
