@import '../../scss/modules/default';

.baseSideMenu {
  transition: width 0.3s cubic-bezier(0.33, 1, 0.68, 1), padding 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  width: var(--side-menu-width, 100%);
  height: var(--side-menu-height, 100%);
  flex-shrink: 1;
  overflow: hidden;
  box-sizing: border-box;

  &.sideMenuClose {
    width: 0;
    transition-delay: 0.3s;
    padding: 0;

    .sideMenuContainer {
      transition-delay: 0s;
      transform: translateX(150%);
    }
  }
}

.sideMenuContainer {
  box-sizing: border-box;
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.2s;
  border-radius: $borderRadiusHalf;
  background-color: hsl(var(--light));
  color: hsl(var(--base-font));
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--side-menu-height, 100%);

  padding-block: px-to-rem(12);
  padding-inline: px-to-rem(12);
}

@include on-rtl {
  .svgCurved {
    transform: scaleX(-1);

    &.end {
      transform: scaleX(-1) scaleY(-1);
    }
  }
}
