@import '../../scss/modules/default';

.baseSideMenu {
  transition: width 0.3s cubic-bezier(0.33, 1, 0.68, 1), padding 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  width: var(--side-menu-width, 100%);
  height: var(--side-menu-height, 100%);
  padding-block: px-to-rem(12);
  padding-inline: px-to-rem(12);
  flex-shrink: 0;
  overflow: hidden;
  box-sizing: content-box;

  &.sideMenuClose {
    width: 0;
    padding: 0;
  }
}

.sideMenuContainer {
  box-sizing: border-box;

  // padding: px-to-rem(12);
  border-radius: $borderRadiusHalf;
  background-color: hsl(var(--base));
  display: inline-block;
  position: relative;
  width: var(--side-menu-width, 100%);
  color: hsl(var(--base-font));
  height: 100%;
}

@include on-rtl {
  .svgCurved {
    transform: scaleX(-1);

    &.end {
      transform: scaleX(-1) scaleY(-1);
    }
  }
}
