@import '../../scss/modules/default';

.datePicker {
  cursor: pointer;

  &.fullWidth {
    width: 100%;
  }

  [class*='DatePicker__calendarContainer'] {
    // background-color: red;

    z-index: 5;
  }
}
