@import '../../../scss/modules/default';

.detailsBlock {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: px-to-rem(8);
  margin-block: px-to-rem(20);
  padding-block: px-to-rem(2);
  padding-inline: px-to-rem(2);
  border-end-end-radius: px-to-rem(7);
  border-start-end-radius: px-to-rem(7);

  &:hover {
    background-color: hsl(var(--black) / 1.5%);
  }

  .detailsLabel {
    margin-block: 0;
    max-width: 33%;
  }

  .detailsValueContainer {
    width: 60%;
    justify-content: space-between;
    align-items: start;
  }

  .detailsValue {
    margin-block: 0;
  }

  &.jsonCodeBlock {
    flex-direction: column;
    align-items: start;
    border-radius: 0;
    border-top-width: px-to-rem(2);
    border-top-style: solid;
    border-top-color: hsl(var(--black) / 10%);

    &:hover {
      background-color: unset;
    }

    .detailsLabel {
      width: 100%;
      max-width: unset;
      text-align: center;
    }

    .detailsValueContainer {
      width: 100%;
      max-width: 100%;

      > div {
        display: contents;
      }

      .detailsValue {
        overflow-x: auto;
        width: 100%;
        max-width: unset;
        background-color: hsl(var(--base) / 10%);
        border-radius: px-to-rem(7);
        padding: px-to-rem(7);
        // margin-inline-end: px-to-rem(-35);

        pre {
          white-space: pre;

          code {
            border: none;
            background-color: unset;
          }
        }
      }
    }
  }

  .emptyDetailsLabel {
    margin-block: 0;
    margin-inline-end: px-to-rem(32);
  }
}

.loadingStateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .loadingStateLabel {
    margin-block: px-to-rem(8);
    height: px-to-rem(24);
    width: px-to-rem(150);
  }

  .loadingStateCopyContainer {
    text-align: end;
    margin-block: px-to-rem(10);

    span {
      height: px-to-rem(24);
      display: inline-block;

      &:first-of-type {
        width: px-to-rem(100);
        margin-inline-end: px-to-rem(12);
      }
    }
  }
}
