@import '../../../scss/modules/default';

.detailsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: px-to-rem(8);
  margin-block: px-to-rem(20);

  & > * {
    max-width: 50%;
  }

  .detailsLabel {
    margin-block: 0;
  }

  .emptyDetailsLabel {
    margin-block: 0;
    margin-inline-end: px-to-rem(32);
  }
}

.loadingStateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .loadingStateLabel {
    margin-block: px-to-rem(8);
    height: px-to-rem(24);
    width: px-to-rem(150);
  }

  .loadingStateCopyContainer {
    text-align: end;
    margin-block: px-to-rem(10);

    span {
      height: px-to-rem(24);
      display: inline-block;

      &:first-of-type {
        width: px-to-rem(100);
        margin-inline-end: px-to-rem(12);
      }
    }
  }
}
