@import '../../scss/modules/default';

.buttonGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  & > button {
    border-radius: 0;
    margin-inline: px-to-rem(1);
    margin-inline: 0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &.half > button {
    &:first-of-type {
      border-start-start-radius: calc($borderRadiusHalf / 2);
      border-end-start-radius: calc($borderRadiusHalf / 2);
    }

    &:last-of-type {
      border-start-end-radius: calc($borderRadiusHalf / 2);
      border-end-end-radius: calc($borderRadiusHalf / 2);
    }

    &:last-child {
      padding-inline: px-to-rem(12);
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &.full > button {
    &:first-of-type {
      border-start-start-radius: $borderRadiusFull;
      border-end-start-radius: $borderRadiusFull;
    }

    &:last-of-type {
      border-start-end-radius: $borderRadiusFull;
      border-end-end-radius: $borderRadiusFull;
    }

    &:last-child {
      padding-inline: px-to-rem(12);
    }
  }
}
