@import '../../scss/modules/default';

.selectContainer {
  &[class*='-container'] {
    width: px-to-rem(240);
  }

  [class*='-control'] {
    background-color: transparent;
    border-color: hsl(var(--base));
    border-radius: $borderRadiusQuarter;
    outline: transparent;
    box-shadow: none;
    background-color: hsl(var(--white));

    &:hover {
      border-color: hsl(var(--base) / 50%);
    }
  }

  [class*='-indicatorSeparator'] {
    background-color: transparent;
  }

  [class*='-indicatorContainer'] {
    cursor: pointer;
  }

  [class*='-indicatorSeparator'] + [class*='-indicatorContainer'] {
    svg {
      border-radius: px-to-rem(20);
      background-color: hsl(var(--lighter));
      color: hsl(var(--base));
      transform: rotate(-90deg);
    }
  }

  [class*='-multiValue'] {
    border-radius: $borderRadiusQuarter;
    background-color: hsl(var(--base) / 30%);
    color: hsl(var(--light-font));
  }

  [class*='-singleValue'] {
    color: hsl(var(--black));
  }

  [class*='-MultiValueGeneric'] {
    color: hsl(var(--light-font));
  }

  [class*='-MultiValueRemove'] {
    background-color: hsl(var(--lighter));
    color: hsl(var(--lighter-font));
    border-radius: $borderRadiusQuarter;
    margin-inline-start: px-to-rem(4);
    cursor: pointer;
  }

  [class*='-menu'] {
    border-radius: $borderRadiusQuarter;
    background-color: hsl(var(--lighter) / 100%);
    box-shadow: px-to-rem(1) px-to-rem(3) px-to-rem(7) hsl(var(--black) / 15%);
    padding-inline: px-to-rem(3);
    z-index: 2;

    [class*='-option'] {
      border-radius: $borderRadiusQuarter;
      transition: background-color 0.2s, color 0.2s;
      color: hsl(var(--light-font));
      background-color: transparent;
      cursor: pointer;
      margin-block: px-to-rem(6);

      // &:not(:first-of-type),
      &:first-of-type {
        margin-block-start: px-to-rem(0);
        margin-block-end: px-to-rem(6);
      }

      &:last-of-type {
        margin-block-start: px-to-rem(6);
        margin-block-end: px-to-rem(0);
      }

      &:hover {
        background-color: hsl(var(--base) / 70%);
        color: hsl(var(--base-font));
      }
    }

    [class*='Message'] {
      color: hsl(var(--black) / 60%);
    }
  }

  &.fullWidth {
    &[class*='-container'] {
      width: 100%;
    }
  }

  &.selectMulti {
    [class*='-indicatorSeparator'] + [class*='-indicatorContainer'] {
      svg {
        border-radius: px-to-rem(20);
        background-color: hsl(var(--base));
        color: hsl(var(--lighter));
        transform: rotate(0);
      }
    }
  }

  &.disabled {
    [class*='-control'] {
      background-color: hsl(var(--lighter) / 50%);
      border-color: hsl(var(--lighter));
    }

    [class*='-indicatorSeparator'] + [class*='-indicatorContainer'] {
      svg {
        background-color: hsl(var(--lighter));
        color: hsl(var(--light));
      }
    }
  }
}
