@import '../../scss/modules/default';

.avatarContainer {
  display: inline-block;
  position: relative;
  transition: all 0.24s ease-out;

  .indicator,
  .indicatorRing {
    width: 20%;
    height: 20%;
    aspect-ratio: 1;
    position: absolute;
    inset-block-end: px-to-rem(0);
    inset-inline-end: px-to-rem(0);
    transform: translateX(2px) translateY(-2px);
    border-radius: $borderRadiusHalf;
    border-style: solid;
    border-radius: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.24s ease-out;
  }

  .indicator {
    background-color: hsl(var(--base) / 100%);
    border-color: hsl(var(--white) / 100%);
    border-width: px-to-rem(3);
  }

  .indicatorRing {
    background-color: transparent;
    border-width: px-to-rem(3);
  }

  &.large {
    .baseAvatar {
      width: px-to-rem(68);
    }
  }

  &.medium {
    .baseAvatar {
      width: px-to-rem(56);
    }
  }

  &.small {
    .baseAvatar {
      width: px-to-rem(40);
    }
  }

  &.stacked {
    &:first-of-type:not(:last-of-type) {
      margin-inline-start: px-to-rem(14);

      &.large {
        margin-inline-start: px-to-rem(14);
      }

      &.medium {
        margin-inline-start: px-to-rem(8);
      }

      &.small {
        margin-inline-start: px-to-rem(4);
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:not(:last-of-type) {
      /* stylelint-disable-next-line no-descending-specificity */
      &.large {
        margin-inline-end: px-to-rem(-34);

        &:hover {
          transform: translateX(px-to-rem(-16));
        }
      }

      /* stylelint-disable-next-line no-descending-specificity */
      &.medium {
        margin-inline-end: px-to-rem(-28);

        &:hover,
        &[data-sudo='hover'] {
          transform: translateX(px-to-rem(-14));
        }
      }

      /* stylelint-disable-next-line no-descending-specificity */
      &.small {
        margin-inline-end: px-to-rem(-20);

        &:hover,
        &[data-sudo='hover'] {
          transform: translateX(px-to-rem(-12));
        }
      }
    }
  }

  &.fullCircle {
    img {
      border-radius: 100%;
    }

    .indicator,
    .indicatorRing {
      width: 20%;
      height: 20%;
      inset-block-end: 5%;
      inset-inline-end: 5%;
    }
  }
}

.avatarContainer > .baseAvatar {
  border: none;
  border-radius: $borderRadiusHalf;
  border-width: px-to-rem(3);
  border-style: solid;
  border-color: transparent;
  transition: all 0.24s ease-out;
  display: inline;
  aspect-ratio: 1;
  box-sizing: border-box;

  &.roundedFull {
    border-radius: $borderRadiusFull;
  }

  &.roundedHalf {
    border-radius: $borderRadiusHalf;
  }
}

.primary {
  img {
    background-color: hsl(var(--base));
  }

  .indicator,
  .indicatorRing {
    transform: translateX(10%) translateY(-10%);
    border-color: hsl(var(--base) / 100%);
  }

  &:hover,
  &[data-sudo='hover'] {
    img {
      background-color: hsl(var(--light));
    }

    .indicator,
    .indicatorRing {
      border-color: hsl(var(--lighter) / 100%);
    }
  }

  &:active,
  &[data-sudo='active'] {
    background-color: hsl(var(--light));
  }
}

.outline {
  img {
    border-color: hsl(var(--base));
    background-color: transparent;
    padding: px-to-rem(2);
  }

  .indicator,
  .indicatorRing {
    transform: translateX(15%) translateY(-20%);
  }

  .indicator {
    border-color: hsl(var(--white) / 100%);
  }

  .indicatorRing {
    border-color: hsl(var(--base) / 15%);
  }

  &:hover,
  &[data-sudo='hover'] {
    img {
      background-color: hsl(var(--base) / 15%);
    }
  }

  &:active,
  &[data-sudo='active'] {
    img {
      background-color: hsl(var(--base) / 25%);
    }
  }
}

.white {
  img {
    background-color: hsl(var(--white));
  }

  .indicator,
  .indicatorRing {
    transform: translateX(15%) translateY(-17%);
  }

  .indicator {
    border-color: hsl(var(--white) / 100%);
  }

  .indicatorRing {
    border-color: hsl(var(--white) / 15%);
  }

  &:hover,
  &[data-sudo='hover'] {
    img {
      background-color: hsl(var(--base) / 100%);
    }

    .indicatorRing {
      border-color: hsl(var(--base) / 100%);
    }
  }
}

.disabled {
  img {
    background-color: hsl(var(--base));
    filter: contrast(0.5);
  }

  .indicator,
  .indicatorRing {
    transform: translateX(15%) translateY(-17%);
    border-color: hsl(var(--base));
    filter: contrast(0.5);
  }
}

@include on-rtl {
  .avatarContainer {
    &.stacked {
      &:not(:last-of-type) {
        &.large {
          &:hover,
          &[data-sudo='hover'] {
            transform: translateX(px-to-rem(16));
          }
        }

        &.medium {
          &:hover,
          &[data-sudo='hover'] {
            transform: translateX(px-to-rem(14));
          }
        }

        &.small {
          &:hover,
          &[data-sudo='hover'] {
            transform: translateX(px-to-rem(12));
          }
        }
      }
    }
  }
}
