@import '../../scss/modules/default';

.baseAvatar {
  border: none;
  border-radius: $borderRadiusHalf;
  border-width: px-to-rem(3);
  border-style: solid;
  border-color: transparent;
  transition: all 0.24s ease-out;
  display: inline;
  aspect-ratio: 1;

  &.large {
    width: px-to-rem(68);
  }

  &.medium {
    width: px-to-rem(56);
  }

  &.small {
    width: px-to-rem(40);
  }

  &.fullCircle {
    border-radius: 100%;
  }

  &.roundedFull {
    border-radius: $borderRadiusFull;
  }

  &.roundedHalf {
    border-radius: $borderRadiusHalf;
  }

  &.stacked {
    &:first-of-type:not(:last-of-type) {
      margin-inline-start: px-to-rem(14);

      &.large {
        margin-inline-start: px-to-rem(14);
      }

      &.medium {
        margin-inline-start: px-to-rem(8);
      }

      &.small {
        margin-inline-start: px-to-rem(4);
      }
    }

    &:not(:last-of-type) {
      &.large {
        margin-inline-end: px-to-rem(-34);

        &:hover {
          transform: translateX(px-to-rem(-16));
        }
      }

      &.medium {
        margin-inline-end: px-to-rem(-28);

        &:hover {
          transform: translateX(px-to-rem(-14));
        }
      }

      &.small {
        margin-inline-end: px-to-rem(-20);

        &:hover {
          transform: translateX(px-to-rem(-12));
        }
      }
    }
  }
}

.primary {
  background-color: hsl(var(--base));

  &:hover {
    background-color: hsl(var(--light));
  }

  &:active {
    background-color: hsl(var(--light));
  }
}

.outline {
  border-color: hsl(var(--base));
  background-color: transparent;
  padding: px-to-rem(2);

  &:hover {
    background-color: hsl(var(--base) / 15%);
  }

  &:active {
    background-color: hsl(var(--base) / 25%);
  }
}

.white {
  background-color: hsl(var(--white));

  &:hover {
    background-color: hsl(var(--base) / 100%);
  }
}

.disabled {
  background-color: hsl(var(--base));
  filter: contrast(0.5);
}

@include on-rtl {
  .baseAvatar {
    &.stacked {
      &:not(:last-of-type) {
        &.large {
          &:hover {
            transform: translateX(px-to-rem(16));
          }
        }

        &.medium {
          &:hover {
            transform: translateX(px-to-rem(14));
          }
        }

        &.small {
          &:hover {
            transform: translateX(px-to-rem(12));
          }
        }
      }
    }
  }
}