@import 'modules/default';

:export {
  white: $white;
  black: $black;
  screenSizePhoneMax: $screenSizePhoneMax;
  screenSizeTabletPortraitMin: $screenSizeTabletPortraitMin;
  screenSizeTabletLandscapeMin: $screenSizeTabletLandscapeMin;
  screenSizeDesktopMin: $screenSizeDesktopMin;
  screenSizeLargeDesktopMin: $screenSizeLargeDesktopMin;
}
